@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Realce';
    src: url('./Fonts/Realce-Black.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Mentimun';
    src: url('./Fonts/Mentimun.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('./Fonts/Inter.woff2');
    font-weight: 200;
}
